################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
/.vs/MyGame/v15
/.vs
/ZekeGame/.vs/ZekeGame/v15/ipch
/ZekeGame/x64/Release
/ZekeGame/.vs/ZekeGame/v15
